<div class="move-background">
  <div class="container">
    <div class="header-block">
      <h3 class="header-title">{{headerView}}: <span>"{{nameView}}"</span></h3>
      <a class="close-button" (click)="close()">&#10006;</a>
    </div>
    <div class="content">
      <div class="location"> 
        <div class="location-current">Текущее расположение: <div class="path">{{currentPathView}}</div> </div>
        <div class="location-new">Новое расположение: <div class="path">{{newPathView}}</div> </div>
      </div>
      <div class="choice">
        <h5>Выбирите папку для перемещения:</h5>
        <ul class="folder-list">
          <li *ngFor="let folder of folderListView; let i = index" [attr.data-ifolder]="i"
            (click)="newFoldersListByClick($event)">
            <a>{{folder}}</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="action-block">
      <button class="simple-button" (click)="confirm()">ОК</button>
      <button class="simple-button" (click)="close()">Отмена</button>
    </div>
  </div>

</div>