<!-- <div class="body-st" oncontextmenu="return false"> -->
<div class="body-st">
  <div class="main-st">
    <div class="header-st">
      <div class="logo-st" >
        <div  class="logo-contener-st" (click)=goHomePage() >
          <img src="/../../assets/images/logoMy.png" alt="">
          <span>Диск</span>
        </div>
      </div>
      <div class="header-body-st">
        <h3>Удаленный диск <br> (упрощенный аналог Google Disk)</h3>
      </div>
      <div class="login-st">
        <app-authauthentication></app-authauthentication>
      </div>
    </div>
    <div class="content">
      <h1>Дипломный проект FullSteck</h1>
      <br>
      <p><span class="tab"></span>Проект создан по принципу Single Page Application.</p>
      <p><span class="tab"></span>В целях демонстрации в проекте применены различные способы реализации функционала
        сервиса.</p>
      <p><span class="tab"></span>По-умолчанию в проекте созданы два пользователя:  <strong>admin</strong>   с правами администратора и
        <strong>test</strong> с правами пользователя, которые имеют одноименные пароли.
        Администратору добавлена функция "Очистить базу", которая очищает всю базу данных и привоводит сервис в
        состояние "по-умолчанию".
        Вы можете зарегистрировать неограниченое количество пользователей с уникальными именами.
        Требования к имени пользователя и паролю можно посмотреть нажав на значек информации <span class="info-btn icon-info sprite" ></span> возле поля ввода при
        авторизации или регистрации. Переходы между стартовой и домащней страницами осуществляется по клику на логотип.</p>
        <p><span class="tab"></span>Ссылки на исходный код находяться в футтере страницы.</p>
      <h4>Front-end</h4>
      <p><span class="tab"></span>Angular 8. TypeScript, CSS, HTML </p>
      <h4>Back-end</h4>
      <p><span class="tab"></span> Spring Boot: v2.1.5</p>
    </div>
    <div class="footer">
      <div class="fblock">
        <h5>О проекте:</h5>
        <div class="icon-contener">
          <div class="icon-git sprite"></div>
        </div>
        <div class="source">

          <div class="source-fe">
            <a href="https://github.com/EduardTymchenko" target="_blank">Front-end</a>
          </div>
          <div class="source-be">
            <a href="https://github.com/EduardTymchenko" target="_blank">Back-end</a>
          </div>
        </div>
        <div class="dev">
          <div class="name-dev">
            <p>Разработчик:<span class="tab"></span><span>Эдуард Тимченко</span> </p>
          </div>
          <div class="link-dev">
            <div class="link-dev-icon">
              <a href="https://www.linkedin.com/in/eduard-tymchenko" target="_blank">
                <div class="icon-linkin sprite"></div>
              </a>
            </div>
            <div class="link-dev-icon">
              <a href="https://www.facebook.com/eduard.tymchenko" target="_blank">
                <div class="icon-fb sprite"></div>
              </a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>