/* * {
  border: 1px solid;
} */

.style-block-folder-sidebar{
  
  display: inline-flex;
  border-radius: 0 20px 20px 0;
  height: 30px;
  align-items: center;
  /* flex-wrap: nowrap; */
}
.style-block-folder-sidebar:hover {
  cursor: pointer;
}

.open-list {
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 10px;
}

.name-folder-block{
  white-space: nowrap;
  margin-left: 3px;
 width: 100%;
}

.open-list:hover,
.name-folder-block:hover .icon-name
{
  color: rgb(25,124,222);
}
.is-open {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  color: blueviolet;
}

.show-currentPath{
    /* color: rgb(25,124,222); */
    background-color: rgb(225, 227, 230);
}

.child-folder {
  padding-left: 10px;
}
