/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap&subset=cyrillic');

* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: #5f6368;
  font-size: 13px;
  /* cursor: default; */
  
}
/* Полоса прокрутки */
::-webkit-scrollbar-button {
  width:5px;
  height:0px
  }
  
  ::-webkit-scrollbar-track {
  background-color:#ecedee
  }
  
  ::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0px;
  border-radius: 4px;
  background-color:#c7caca;
  }
  
  ::-webkit-scrollbar-thumb:hover{
  background-color:#a0a1a1;
  }
  
  ::-webkit-resizer{
  width:4px;
  height:0px
  }
  
  ::-webkit-scrollbar{
  width: 10px;
  height: 10px;
  }

img{
  pointer-events: none;
}
.sprite {
  background-image: url(./assets/images/sprite.png);
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
}

.sprite-big {
  width: 100px;
  height: 100px;
}

.icon-folder {
  background-position: 0px 0px;
}
.icon-folder-add {
  background-position: 0 -40px;
}
.icon-del {
  background-position: 0px -60px;
}
.icon-rename {
  background-position: 0px -80px;
}
.icon-move {
  background-position: 0px -100px;
}
.icon-download {
  background-position: 0px -120px;
}
.icon-upload {
  background-position: 0px -140px;
}
.icon-disk {
  background-position: 0px -160px;
}
.icon-document {
  background-position: 0px -180px;
}

.icon-storage {
  background-position: 0px -200px;
}
.icon-star {
  background-position: 0px -220px;
}
.icon-star-small {
  background-position: 0px -240px;
}
.icon-space {
  background-position: 0px -260px;
}
.icon-search {
  background-position: -40px -280px;
}
.icon-eye {
  background-position: 0px -280px;
}

.icon-mydisk {
  background-position: 0px -20px;
}
.icon-error {
  background-position: -40px 0px;
}
.icon-warning {
  background-position: -60px 0px;
}
.icon-info {
  background-position: -80px 0px;
}
.icon-linkin {
  background-position: -140px -120px;
}
.icon-fb {
  background-position: -140px -160px;
}
.icon-git {
  background-position: -140px -80px;
}
.icon-back{
  background-position: -40px -80px;
}
.icon-del-end{
  background-position: -40px -100px;
}
.icon-clear-basket{
  background-position: -40px -120px;
}

.icon-user {
  background-position: -135px 0px;
}
.icon-admin {
  background-position: -135px -40px;
}
.icon-basket-big {
  background-position: -300px 0px;
}
.icon-star-big {
  background-position: -400px 0px;
}
.icon-search-big {
  background-position: -400px -100px;
}
.icon-noFolder-big {
  background-position: -400px -200px;
}

 
.icon-name{
  padding-left: 10px;
  display: inline-block;
  vertical-align: middle;
  pointer-events: none;
}

button,
button:active,
button:focus {
  outline: none;
  border: 0;
}

ul {
  list-style: none;
}

.sidebar {
  font-weight: bold;
}

/* Class for all component */
.show-currentPath{
  background-color: rgb(225, 227, 230);
}