<div>
  <!-- <div class="body" oncontextmenu="return false"> -->
  <div class="body">
    <div class="header">
      <div class="header-body">
        <div class="logo">
          <a href="#"><img src="../../assets/images/logoMy.png" alt=""><span>Диск</span></a>
        </div>
        <div class="search">
          <input type="search" placeholder="Поиск на Диске">
        </div>
        <div class="dop"></div>
      </div>
    </div>
    <div class="main">
      <div class="sidebar">
        <div class="create-sb">
          <div class="contener-elementFS" [attr.data-pathFolder]="currentPath" [attr.data-isfolder]="true"
            (click)="onrightClick($event)">
            <button id="btn-create"><img src="../../assets/images/add.png" alt=""> Создать</button>
          </div>
        </div>
        <div class="my-disk-contener" (click)="foldersView($event)">
          <app-directory-folders [directoryAllFoldersList]="allFoldersListFull" [currentPath]="currentPath"
            [menuNumberView]="menuNumberView" (changeCurrentPathOut)="updateFolderListByPath($event)"
            *ngIf="allFoldersListFull" (contextmenu-)="onrightClick($event)">
          </app-directory-folders>
        </div>
        <div class="my-disk-separator"></div>
        <div class="my-disk-menu">
          <div class="star" (click)="starView($event)">
            <div class="icon-star sprite"></div>
            <div class="icon-name">Отмеченные</div>
          </div>
          <div class="basket" (click)="basketView($event)">
            <div class="icon-del sprite"></div>
            <div class="icon-name">Корзина</div>
          </div>
        </div>
        <div class="my-disk-size">
          <div class="m-d-s-name">
            <div class="icon-storage sprite"></div>
            <div class="icon-name">Хранилище</div>
          </div>
          <div class="m-d-s-meter">
            <meter min="0" low="{{meterLowView}}" high="{{meterHigtView}}" max="{{meterMaxView}}" optimum="0"
              value="{{meterValueView}}"></meter>
          </div>
          <div class="m-d-s-text">Использовано {{currenSizeView}} из {{fullSizeView}}</div>
        </div>
      </div>
      <div class="basic">
        <div class="basic-menu" [ngSwitch]="menuNumberView">
          <div class="path-menu" *ngSwitchCase="0">
            <ul class="breadcrumbs">
              <li class="contener-elementFS" *ngFor="let folder of currentPathViewer; let i = index"
                [attr.data-ifolder]="i" [attr.data-isfolder]="true" (click)="currentFoldersListViewListByClick($event)">
                {{folder}}</li>
            </ul>
          </div>
          <div class="menu-star" *ngSwitchCase="2">Избранные</div>
          <div class="menu-basket" *ngSwitchCase="1">Корзина</div>

        </div>
        <div class="block-folders-files">
          <div class="table style-table">
            <div class="table-heading">
              <div class="table-row">
                <div class="table-head">Название</div>
                <div class="table-head">Размер</div>
                <div class="table-head">Дата</div>
                <div class="table-head">Доступ</div>
              </div>
            </div>
            <div class="table-body">
              <div class="table-row contener-elementFS" *ngFor="let folder of currentFoldersListView"
                [attr.data-isfolder]="true" [attr.data-folderPath]="folder.folderPath"
                [attr.data-folderName]="folder.folderName" (contextmenu)="onrightClick($event)"
                (click)="newFoldersListByClick($event)">
                <div class="table-cell">
                  <div class="icon-folder sprite"></div>
                  <div class="icon-name">{{folder.folderName}}</div>
                </div>
                <div class="table-cell">{{folder.FolderSize}}</div>
                <div class="table-cell">{{folder.folderDate}}</div>
                <div class="table-cell">cell4_1</div>
              </div>
              <!-- файлы -->
              <div class="table-row contener-elementFS" *ngFor="let file of currentListFiles"
                [attr.data-ifile]="file.id" [attr.data-isfolder]="" (contextmenu)="onrightClick($event)">
                <div class="table-cell">
                  <div class="icon-document sprite"></div>
                  <div class="icon-name">{{file.fileName}}</div>
                </div>
                <div class="table-cell">{{file.size}}</div>
                <div class="table-cell">{{file.date}}</div>
                <div class="table-cell">cell4_1</div>
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>


    <div class="context-menu" *ngIf="contextMenuView"
      [ngStyle]="{'position': 'absolute', 'left.px': contextmenuXView, 'top.px': contextmenuYView}" appMove
      (show)="contextMenuView = $event">
      <div class="context-box">
        <ul>
          <li (click)="showDialog(operation.create)">
            <div class="icon-folder-add sprite"></div>
            <div class="icon-name">Создать папку</div>
          </li>
          <li *ngIf="isFolderMenu" (click)="showDialog(operation.update)">
            <div class="icon-rename sprite"></div>
            <div class="icon-name">Переименовать папку</div>
          </li>
          <li *ngIf="isFolderMenu" (click)="showMoveMenu(operation.update)">
            <div class="icon-move sprite"></div>
            <div class="icon-name">Переместить папку</div>
          </li>
          <li *ngIf="isFolderMenu" (click)="changeMainList(operation.delete)">
            <div class="icon-del sprite"></div>
            <div class="icon-name">Удалить папку</div>
          </li>
        </ul>
        <div class="separator"></div>
        <ul>
          <!-- <li (click)="file.click()"> Загрузить файл(ы) </li> -->
          <li (click)="fileUpload.click()">
            <div class="icon-download sprite"></div>
            <div class="icon-name">Загрузить файл(ы)</div>
          </li>
          <li *ngIf="!isFolderMenu" (click)="fileDownload.click()">
            <div class="icon-upload sprite"></div>
            <div class="icon-name">Скачать файл</div>
          </li>
          <li *ngIf="!isFolderMenu" (click)="showDialog(operation.update)">
            <div class="icon-rename sprite"></div>
            <div class="icon-name">Переименовать файл</div>
          </li>
          <li *ngIf="!isFolderMenu" (click)="showMoveMenu(operation.update)">
            <div class="icon-move sprite"></div>
            <div class="icon-name">Переместить файл</div>
          </li>
          <li *ngIf="!isFolderMenu" (click)="changeMainList(operation.delete)">
            <div class="icon-del sprite"></div>
            <div class="icon-name">Удалить файл</div>
          </li>

        </ul>

      </div>
      <!-- appClickOutside (show)="contextMenuView = $event"> -->

    </div>
    <input #fileUpload type="file" (change)="uploadFilesServer($event)" multiple [ngStyle]="{'display': 'none'}">
    <a #fileDownload [href]="downloadLinkView" [ngStyle]="{'display': 'none'}"></a>
    <!-- Контекстное меню end-->


  </div>



  <div>
    <!-- <div  > -->
    <!-- Меню перемещения папки/файла -->

    <!-- Меню перемещения end -->
    <!-- Контекстное меню ПАПКИ-->
    <!-- <input #file   type="file"  (change)="uploadFilesServer($event)" multiple *appShowForm="showForm">  -->
    <!-- <div class="context-menu" *appContextMenu="contextmenu"  [ngStyle]="{'left.px': contextmenuX, 'top.px': contextmenuY}" > -->


    <!-- <ul>
          <li (contextmenu)="onrightClick($event)">test {{contextmenuX}}</li>
          <li (contextmenu)="onrightClick($event)">test {{contextmenuX}}</li>
          <li (contextmenu)="onrightClick($event)">test {{contextmenuX}}</li>
          <li (contextmenu)="onrightClick($event)">test {{contextmenuX}}</li>
        </ul>
   -->
    <!-- <div (click)="downloadFileFromServer()"><a [href]="downlodLink" download="downlodName.txt" >Скачать файл</a> </div> -->
    <!-- Папки
    <p>{{currentPath}}</p>
    <ul>
      <li *ngFor="let folder of allFolders" data-path-value='/' (contextmenu)="onrightClick($event)">
        <a>{{folder}}</a>
      </li>
    </ul> -->
    <!-- блок списка папок и файлов -->

    <!-- <br><br> -->


    <!-- <div class="move-menu" appClickOutside > -->


    <!-- <input type="file" accept="image/*" #file> -->
    <!-- <button (click)="file.click()">Upload file</button>
  <input #file type="file"  (change)="upload($event)" multiple>  -->
    <!-- <button (click)="createFolder()">Создать папку</button>
        <button (click)="getFoldersFromServer()">получить</button>
  
        <button (click)="getAllFiles()">my</button>
        <ul>
            
        <li *ngFor="let fileDisk of allFiles">
          <a href='/rest/files/{{fileDisk}}'>{{fileDisk}}</a>
        </li>
        </ul> -->
    <app-modal-dialog *ngIf="isModalDialogVisible" [dataModalDialog]="dataModalDialogMain"
      (dataModalDialogOut)="closeModalWindow($event)"></app-modal-dialog>

    <!-- *ngIf="isMoveMenuVisible" -->
    <app-move-menu *ngIf="isMoveMenuVisible" [dataMoveMenu]="dataMoveMenuMain"
      (dataMoveMenuOut)="closeModalWindow($event)"></app-move-menu>
    <!-- <app-move-menu *ngIf="isMoveMenuVisible" [header]="headerMoveMenu"  [movePathView]="currentPath"  [allFolders]="allFolders"
  (dataWindow)="closeMoveMenu($event)"></app-move-menu> -->
  </div>
</div>

<app-view-tmp *ngIf="ok"></app-view-tmp>